@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hangfire.Mongo</h1>
    <p class="lead">MongoDB support for <a href="http://hangfire.io">Hangfire</a> library. By using this library you can store all jobs information in MongoDB.</p>
    <p><a href="/hangfire/" class="btn btn-primary btn-lg">Dashboard &raquo;</a></p>
</div>

<div class="row">
<div class="col-md-4">
        <h2>Long running tasks</h2>
    <p><a class="btn btn-success" href="@Url.Action("LongRunning", new {id = 1, iterations = 100})">
        Run 1 long running task &raquo;
    </a></p>
    </div>
    <div class="col-md-4">
        <h2>Fire-and-forget tasks</h2>
        <p><a class="btn btn-success" href="@Url.Action("FireAndForget", new {id = 1})">Run 1 task &raquo;</a></p>
        <p><a class="btn btn-success" href="@Url.Action("FireAndForget", new {id = 10})">Run 10 task &raquo;</a></p>
        <p><a class="btn btn-success" href="@Url.Action("FireAndForget", new {id = 100})">Run 100 task &raquo;</a></p>
        <p><a class="btn btn-success" href="@Url.Action("FireAndForget", new {id = 250})">Run 250 task &raquo;</a></p>
        <p><a class="btn btn-success" href="@Url.Action("FireAndForget", new {id = 1000})">Run 1000 task &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delayed tasks</h2>
        <p><a class="btn btn-success" href="@Url.Action("Delayed", new {id = 1})">Run 1 task &raquo;</a></p>
        <p><a class="btn btn-success" href="@Url.Action("Delayed", new {id = 10})">Run 10 task &raquo;</a></p>
        <p><a class="btn btn-success" href="@Url.Action("Delayed", new {id = 100})">Run 100 task &raquo;</a></p>
        <p><a class="btn btn-success" href="@Url.Action("Delayed", new {id = 250})">Run 250 task &raquo;</a></p>
        <p><a class="btn btn-success" href="@Url.Action("Delayed", new {id = 1000})">Run 1000 task &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recurring tasks</h2>
        <p><a class="btn btn-success" href="@Url.Action("Recurring")">Run &raquo;</a></p>
    </div>
</div>